  h1{
      color: rgb(111, 206, 4);
      font-size: 45px;
      text-align: center;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
    #infobank{
      text-align: center; 
      font-size: 35px;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }.paragraph2{
      color: orangered;

    }
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  background-color: yellowgreen;
}
.aclass > img{
  float: left;
 n }