body{
    background: linear-gradient(90deg, rgba(228,97,183,1) 9%, rgba(242,144,70,0.8827906162464986) 35%, rgba(245,56,46,1) 55%, rgba(223,67,223,1) 72%, rgba(244,52,246,1) 83%, rgba(240,50,146,1) 100%);
    font-family: 'Poppins', sans-serif;
}
nav{
    font-size: 97%; color:  white ;
}
.p1{
    font-size: 17px;
}

.p2{
    font-size: 17px;
}

.mylist{
    font-style: italic;
    font-size: 24px;
    
}
body {
    margin: 0;
    font-family: Arial;
    border: 14px;
    margin: 25px;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    -ms-flex: 25%; 
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    footer{
        font-size: 4px;
    }
    .p1{
      color: red;

    }
  }
  h1{
    color: purple;

  }
h5{
  color: red;
  
}
.grid-container {
  display: grid;
  grid-template-columns: repeat (1,4fr);
  margin-top: 150px;    
  grid-gap: 10px;
  height: 100%;
  Width: 40%;
  margin-left: 35%;
  margin-right: 35%;
  background-color: rgba(242,144,70,0.8827906162464986);
}
