.grid-container {
    display: grid;
    grid-template-columns: repeat (4,1fr);
    margin-top: 150px;    
    grid-gap: 10px;
}
.grid-container > div {
    text-align: center;
    font-size: 30px;
  }

.hero { 
    /* Photo by mnm.all on Unsplash */
    background: url('https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60') center;
    background-size: cover;
    padding: 4rem 2rem;
  
     }
    
  h1{
      color: white;
  }
  p{
      color: white;
  }
  a{
      color: white;
  }
  .item1{
      background-color: #F5C6D6;
      height: 100%;
      width: 100%;
      grid-column: 1/5;
  }
  .item2{
      background-color: #EE2E84;
      height: 100%;
      width: 100%;
      grid-column: 1/2;
  }
  .item3{
      background-color: #EE2E8A;
      height: 100%;
      width: 100%;
      grid-column: 2/3;
  }
  .item4{
      background-color: #EE2E84;
      height: 100%;
      width: 100%;
      grid-column: 3/4;
  }
  .item5{
      background-color: #EE2E84;
      height: 100%;
      width: 100%;
      grid-column: 4/5;
  }
  .item6{
      background-color: #85CFD8;
      height: 100%;
      width: 100%;
      grid-column: 1/3;
  }
  .item7{
      background-color: #85CFD8;
      height: 100%;
      width: 100%;
      grid-column: 3/5;
  }
  .item8{
      background-color: #8DC63F;
      height: 100%;
      width: 100%;
      grid-column: 1/4;
  }
  .item9{
      background-color: #E76E34;
      height: 100%;
      width: 100%;
      grid-column: 4/5;
  }
